{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% from "_formhelpers.html" import render_field %}

{%- block style %}

    {{ super() }}
    <link rel=stylesheet href="{{ url_for('user.static', filename='css/custom.css') }}">
    <link rel="shortcut icon" href="{{ url_for('user.static', filename='img/favicon-profiles.png') }}">

{%- endblock style %}

{%- block bootstrap_js_bottom %}
    {{ super() }}

    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('user.static', filename="js/jquery.pageslide.min.js") }}"
    ></script>

    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('user.static', filename="js/jquery.maxlength.js") }}"
    ></script>

    <script type="text/javascript" charset="utf-8"
	src="{{ url_for('user.static', filename="js/jquery.inputhints.js") }}"
    ></script>

    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('user.static', filename="js/custom.js") }}"
    ></script>

    <script type="text/javascript">// <![CDATA[
        /* Always put the background to the full window*/
        $(function($){

            adaptbackground = function() {
                if ( $(".profiles-login-page").height() <= $(window).height() ) {
                    $(".profiles-login-page").height( $(window).height());
                }
            }

            $(window).resize(function() {
                adaptbackground();
            });

            adaptbackground();

            /* Show input Hints */
            // hook up placeholder text on any input with a title
            $('input[title]').inputHints();

        });

    // ]]>
    </script>

{%- endblock bootstrap_js_bottom %}

{%- block style_navbar_padding %}
{%- endblock style_navbar_padding %}

{%- block title %}
{{ _("Login") }}
{%- endblock title %}

{%- block body_content %}

    {% include "google_analytics.html" %}

    {% include "_flash.html" %}


<div class="profiles-login-page">
    <div id="wrapper">
        <form name="login-form" class="login-form form-horizonal"
	      action="{{ url_for('auth.login') }}"
	      method="post">

            <div class="header">
                <h2>{{ _("Login with your Civiclinks account") }}</h2>
             </div>
             <div class="content">
		 {{ render_field(form.email, class_="input email hint") }}
                 <div class="user-icon"></div>
		 {{ render_field(form.password, class_="input password hint") }}
                 <div class="pass-icon"></div>
		 {{ render_field(form.csrf_token) }}
                 <button type="submit" class="btn">{{ _("Login") }}</button>
             </div>

             <div class="end">
                 <h4>{{ _("Not yet registered?") }}</h4>
                 <p><a href="{{
		       _("https://www.civiclinks.it/en/a/register/?network=profiles")
		       }}"
		       target="blank" class="click">{{ _("Click here") }}</a>
		     {{ _("for a new account") }}</p>
             </div>
        </form>
        <p class="ahref-link"><a href="{{ _("http://www.ahref.eu/en") }}"
        target="blank">{{ _("&lt;ahref Foundation") }}</a></p>
	<div style="clear: both"></div>
    </div>
</div>
{%- endblock body_content %}
