{% extends "bootstrap_responsive.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{%- block style %}

    {{ super() }}
    <link rel=stylesheet href="{{ url_for('user.static', filename='css/custom.css') }}">
    <link rel=stylesheet href="{{ url_for('user.static', filename='css/jquery.pageslide.css') }}">

{%- endblock style %}

{%- block bootstrap_js_bottom %}
    {{ super() }}
    <script type="text/javascript" charset="utf-8"
	    src="{{ url_for('user.static', filename="js/jquery.inputhints.js") }}"
    ></script>
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('user.static', filename="js/jquery.pageslide.min.js") }}"
    ></script>
    <script type="text/javascript" charset="utf-8"
        src="{{ url_for('user.static', filename="js/custom.js") }}"
    ></script>

{%- endblock bootstrap_js_bottom %}

{%- block body_content %}

    {% include "google_analytics.html" %}

    {% include "user_header.html" %}

    {% include "_flash.html" %}

    {%- block ahref_body_content %}
    {%- endblock ahref_body_content %}

    {% include "user_footer.html" %}

{%- endblock body_content %}


