{% extends "ahref_base.html" %}

{% from "_formhelpers.html" import render_field, render_textarea, render_textarea_label, render_file %}

{%- block style %}
    {{ super() }}
    <link rel="stylesheet"
	  href="{{ url_for('bootstrap.static', filename='css/bootstrap-fileupload.css') }}">

{%- endblock style %}

{%- block bootstrap_js_bottom %}

   {{ super() }}

   <script type="text/javascript"
	   src="{{ url_for('bootstrap.static', filename='js/bootstrap-fileupload.js') }}">

   </script>

    <script type="text/javascript">// <![CDATA[
        $(function($) {
            // hook up placeholder text on any input with a title
            $('input[title]').inputHints();
        });
    // ]]></script>

{%- endblock bootstrap_js_bottom %}

{%- block ahref_body_content %}

    <div class="title-bar">
        <div class="container">
            <h1>{{ _("Add your characteristics") }}</h1>

            <h2>{{ _("Upload a photo and describe yourself") }}</h2>
        </div>
    </div>

    <div class="container">
        <form action="{{ url_for('.edit', userid=user._id) }}"
              enctype="multipart/form-data"
              method="post">
            <div class="row-fluid userform">
                <div class="span4">
                    <h3>{{ _("Information") }}</h3>

                    <div class="form-box form-box-1">
                        {{ render_field(form.firstname) }}
                        {{ render_field(form.lastname) }}
                        {{ render_field(form.email) }}
                        {{ render_field(form.sex) }}
                    </div>

                    <div class="form-box form-box-2">
                        {{ render_field(form.location) }}
                        {{ render_field(form.tags) }}
                        {{ render_field(form.website) }}
                    </div>
                </div>

                <div class="span4">
                    <h3>{{ _("Your Bio") }}</h3>

                    <div class="form-box bio-form">

                        {{ render_textarea_label(form.biography) }}

                        <div class="bio-textarea-container">
                            <div class="bio-textarea-1">
                                “
                            </div>

                            <div class="bio-textarea-2">
                                {# <textarea id="bio"> #}
                                {{ render_textarea(form.biography) }}
                            </div>

                            <div class="bio-textarea-3">
                                „
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>

                <div class="span4">
                    <h3>{{ _("Your Photo") }}</h3>

                    <div class="form-box form-box-1">

                        <div class="fileupload fileupload-new" data-provides="fileupload">
                            <div class="fileupload-new thumbnail" style="width:
                                                                         150px;
                                                                         height:
                                                                         150px;">
                                <img
                                     src="{{ url_for('.photo', userid=user._id, size=1) }}"
                                      alt="{{ _("Your Photo") }}"/>
                            </div>
                            <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 150px; max-height: 150px; line-height: 20px;">
                            </div>
                            <div class="choose">
                                <span class="btn
                                btn-file"><span class="fileupload-new">Scegli
                                foto</span>
                                    <span class="fileupload-exists">Change</span><input name="photo"
                                    type="file" /></span>
                                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
                            </div>
                        </div>

                        <div class="span12 desc">
                            <label>La tua foto può pesare al massimo 1MB ed il formato dell’immagine deve essere jpg o png</label>
                        </div>

                        {# { render_file(form.photo) } #}

                    </div>
                </div>

                <div class="span4">
                    <h3>{{ _("Change Password") }}</h3>

                    <div class="form-box form-box-5">
                        {{ render_field(form.old_password) }}
                        {{ render_field(form.new_password) }}
                        {{ render_field(form.con_password) }}

                        {{ render_field(form.csrf_token) }}
                    </div>
                </div>
            </div>
            <div class="row-fluid save">

                <div class="span12">
                    <button class="btn btn-default btn-block btn-primary" type="submit">{{ _("Save All") }}</button>
                </div>
            </div>
        </form>
    </div>
{%- endblock ahref_body_content %}
