{% extends "ahref_base.html" %}

{% from "_formhelpers.html" import render_field, render_textarea, render_textarea_label, render_file %}

{%- block bootstrap_js_bottom %}

   {{ super() }}
    <script type="text/javascript">// <![CDATA[
        $(function($) {
            // hook up placeholder text on any input with a title
            $('input[title]').inputHints();
        });
    // ]]></script>

{%- endblock bootstrap_js_bottom %}

{%- block ahref_body_content %}

    <div class="title-bar">
        <div class="container">
            <h1>{{ _("Add your characteristics") }}</h1>

            <h2>{{ _("Upload a photo and describe yourself") }}</h2>
        </div>
    </div>

    <div class="container">
        <div class="row-fluid userform">
            <div class="span4">
                <h3>{{ _("Information") }}</h3>

                <div class="form-box form-box-1">
                        {{ render_field(form.first_name) }}
                        {{ render_field(form.last_name) }}
                        {{ render_field(form.email) }}
                        <select id="Sex">
                            <option value="SelectSex" id="unkwnown">
                                Seleziona sesso
                            </option>

                            <option value="Maschio" id="male">
                                Maschio
                            </option>

                            <option value="Femmina" id="female">
                                Femmina
                            </option>
                        </select>
                    </form>
                </div>

                <div class="form-box form-box-2">
                    <form>
                        {{ render_field(form.location) }}
                        {{ render_field(form.tags) }}
                        {{ render_field(form.website) }}
                    </form>
                </div>
            </div>

            <div class="span4">
                <h3>{{ _("Your Bio") }}</h3>

                <div class="form-box bio-form">
                    <form>
                        {{ render_textarea_label(form.bio) }}

                        <div class="bio-textarea-container">
                            <div class="bio-textarea-1">
                                “
                            </div>

                            <div class="bio-textarea-2">
                                  {# <textarea id="bio"> #}
                  {{ render_textarea(form.bio) }}
                            </div>

                            <div class="bio-textarea-3">
                                „
                            </div>

                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="span4">
                <h3>{{ _("Your Photo") }}</h3>

                <div class="form-box form-box-1">
                    <form>
                        <div class="avatar-preview">
                          <img src="{{ url_for('user.static',
                                    filename='img/foto_anonima.jpg') }}"
				    alt="{{ _("Your Photo") }}"/>
                        </div>
                       {{ render_file(form.avatar) }}
                    </form>
                </div>
            </div>

            <div class="span4">
                <h3>{{ _("Change Password") }}</h3>

                <div class="form-box form-box-5">
                    <form>
                        {{ render_field(form.old_password) }}
                        {{ render_field(form.new_password) }}
                        {{ render_field(form.con_password) }}
                    </form>
                </div>
            </div>
        </div>
    </div>
{%- endblock ahref_body_content %}
