{%- block ahref_navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner" id="nav-main-menu">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="http://www.civiclinks.it/it/" target="blank">
                  <img src="{{ url_for('.static', filename='img/civiclinkslogo.png') }}" width="116" height="24" alt="civiclinks logo" class="civiclinks-logo">
              </a>
              <div class="nav-collapse collapse">
                <ul class="nav" id="nav-menu">

                  <!-- da inserire se l'utente NON è loggato -->
                  <li class="hidden-desktop"><a href="http://www.civiclinks.it/it/a/login/?next=/it/l/redirect_on/profiles">Registrati</a></li>
                  <li class="hidden-desktop"><a href="#" class="login">Accedi</a></li>

                  <!-- da inserire se l'utente è loggato -->
                  <!-- <li class="hidden-desktop"><a href="http://profiles.civiclinks.it/" target="blank">Benvenuto, <strong>Monica</strong></a></li>
                  <li class="hidden-desktop"><a href="">Logout</a></li> -->

                  <li><a href="http://factchecking.civiclinks.it/it/" target="blank">Factchecking</a></li>
                  <li><a href="http://timu.civiclinks.it/it/" target="blank">Timu</a></li>
                  <li><a href="http://storygrant.civiclinks.it/" target="blank">Storygrant</a></li>
                  <li class="active"><a href="http://profiles.civiclinks.it/" target="blank">Profiles</a></li>
                  <li><a href="#" target="blank">Civico</a></li>
                </ul>
                <ul id="nav-login" class="nav pull-right visible-desktop">

                  <!-- da inserire se l'utente NON è loggato -->
                  <li id="registration"><a class="btn btn-small visible-desktop" href="http://www.civiclinks.it/it/a/login/?next=/it/l/redirect_on/profiles">Registrati</a></li>
                  <li><a href="#" class="login">Accedi</a></li>

                  <!-- da inserire se l'utente è loggato -->
                  <!-- <li><a href="http://profiles.civiclinks.it/" target="blank">Benvenuto, <strong>Monica</strong></a></li>
                  <li id="registration"><a class="btn btn-small visible-desktop" href="">Logout</a></li> -->
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>


    <div id="login-form" style="display: none;">
        <!-- TODO: attenzione! l'html non scorre su smartphone -->
        <div class="container" id="application">
            <a class="brand" href="http://www.civiclinks.it/it/" target="blank">
                  <img src="{{ url_for('.static', filename='img/civiclinkslogo.png') }}" width="116" height="24" alt="civiclinks logo" class="civiclinks-logo-2">
              </a>
            <form class="form-signin" method="post">
                <h2 class="form-signin-heading">
                    Per favore accedi con il tuo account Civiclinks
                </h2>
                <div class="alert-error" id="error">
                </div>
                <input type="text" class="input-block-level" id="email" name="email" placeholder="E-mail">
                <input type="password" class="input-block-level" id="password" name="password" placeholder="Password">
                <button class="btn btn-small" type="submit" id="submit">Accedi
                </button>
            </form>
        </div>
    </div>
{%- endblock ahref_navbar %}