{% extends "ahref_base.html" %}

{%- block ahref_body_content %}

<h1>Test User List</h1>

{% if users %}

    <ul id="navigation">
	{% for user in users %}
            {# TODO: how to display users with no name? #}
	    <li><a href="{{ url_for('.show', userid=user._id) }}">{{ user.firstname|e }} {{ user.lastname|e }}</a></li>
	{% endfor %}
    </ul>

{% else %}

    <p class="alert-heading">{{ _("There are no civiclinks users right now") }}</p>

{% endif %}


{% include "_render_time.html" %}

{% include "_pagination.html" %}

{%- endblock ahref_body_content %}
