{% extends "ahref_base.html" %}

{% block title %}{{ user.firstname|e }} {{ user.lastname|e }} | CivicLinks{% endblock %}

{%- block ahref_body_content %}



  <div class="container" id="method-page">

      <div class="row-fluid userpanel">

          <div class="span4">
              <div class="row-fluid">
                  <div class="span12">

                      <img src="{{ url_for('.photo', userid=user._id, width=370) }}">
                      <div class="method">
                          <h4 id="personal">{{ user.firstname|e }} {{ user.lastname|e }}</h4>
                          <i class="icon-check icon-3x pull-left"></i>
                          {# WARNING: why the escape does not work? #}
                          <h4>{{ _("I agree with the standard proposed by &lt;ahref")|escape }}</h4>
                      </div>

                      {% if user._id == logged_user.id %}
                          <div class="share">
                              <i class="icon-external-link icon-3x pull-left"></i>
                              <h4>{{ _("Do you have a web page?") }}</h4>
			      <iframe seamless frameborder="0" src="{{ url_for('user.show_method_embed', userid=user._id) }}" width="150px" height="150px"></iframe>

                              <p id="copy">{{ _("Cut and paste the following code in your site:") }}</p>
                              <textarea rows="4" cols="50" class="embed">TODO Daniele: scrivere il codice per embeddare</textarea>
                          </div> <!--/.share -->
                      {% endif %}

                  </div>
              </div>
          </div>

          <div class="span8">
              <h1 id="title">{{ _("The methodology for quality information") }}</h1>
              <div class="blockquote">
                <p><span>{% trans %}<a href="http://www.ahref.eu/en"
                  target="blank" class="ahrefwebsite">&lt;ahref
                  Foundation</a> ask individuals, groups, and organizations to
                  share a working methodology based on the four core standards
                  featured in major news agencies and media outlets: Accuracy,
                  Impartiality, Independence, Legality.{% endtrans %}</span></p>
              </div>

              <div class="details">

                  <span class="color">{{ _("Accuracy") }}</span>
                  <div class="row-fluid" style="margin-top:20px;">
                      <div class="span1">
                          <i class="icon-quote-left icon-3x pull-left mark"></i>
                      </div>
                      <div class="span11">
                          <h4>{{ _("A true story with factual errors loses its credibility") }}</h4>
                      </div>
                  </div>
                  <p>{% trans %}Accuracy always comes first and covers data,
                  people, places and events. A story must provide proper and
                  accurate context, quoting, data, identities and facts.{%
                  endtrans %}</p>

                  <span class="color">{{ _("Independence") }}</span>
                  <div class="row-fluid" style="margin-top:20px;">
                      <div class="span1">
                          <i class="icon-quote-left icon-3x pull-left mark"></i>
                      </div>
                      <div class="span11">
                          <h4>{{ _("Avoid biases and make a well rounded story") }}</h4>
                      </div>
                  </div>
                  <p>{% trans %}You must always avoid taking side and
                  partisanship. Each story should be told as fully as possible:
                  Reality is often more nuanced than just black and white.{% endtrans %}</p>

                  <span class="color">{{ _("Impartiality") }}</span>
                  <div class="row-fluid" style="margin-top:20px;">
                      <div class="span1">
                          <i class="icon-quote-left icon-3x pull-left mark"></i>
                      </div>
                      <div class="span11">
                          <h4>{{ _(" Disclose any potential conflicts of interest") }}</h4>
                      </div>
                  </div>
                  <p>{% trans %}Reality is often more nuanced than just black and white. In
                  a criminal trial, we should always keep in mind that the
                  accused is innocent until proven guilty. In a political issue,
                  we should always avoid omitting important facts just because
                  they differ from our own political belief.{% endtrans %}</p>

                  <span class="color">{{ _("Legality") }}</span>
                  <div class="row-fluid" style="margin-top:20px;">
                      <div class="span1">
                          <i class="icon-quote-left icon-3x pull-left mark"></i>
                      </div>
                      <div class="span11">
                          <h4>{{ _(" Respect the right to personal privacy and fundamental liberties") }}</h4>
                      </div>
                  </div>
                  <p>{% trans %}You must respect the right to personal privacy
                  and the rules for the protection of minors. Always protect
                  your sources according to the law.{% endtrans %}</p>

              </div> <!-- /details -->
          </div> <!-- /span8 -->

      </div> <!-- /row-fluid -->
  </div> <!-- /container -->


{%- endblock ahref_body_content %}
