{% extends "ahref_base.html" %}

{% block title %}{{ user.firstname|e }} {{ user.lastname|e }} | CivicLinks{% endblock %}

{%- block ahref_body_content %}
    <div class="bio">
        <div class="container">
            <div class="span1 quotation offset3">
                <i class="icon-quote-left icon-4x pull-left icon-muted"></i>
            </div>

            <div class="span5 profilebio">
              {{ user.biography|e }}
            </div>

            <div class="span1 quotationleft">
                <i class="icon-quote-right icon-4x pull-right icon-muted"></i>
            </div>
        </div>

        <div class="bioend"></div>
    </div>

    {% if False %}
	<div class="container">
            <div class="row-fluid alert_container">
		<div class="alert">
                    <button type="button" class="close" data-dismiss="alert">
			<a href="#" class="close" data-dismiss="alert">&#215;</a></button>
		    <strong>{{ _("Warning!") }}</strong> {{ _("Best check yo self, you're not looking too good.") }}
		</div>
            </div>
	</div>
    {% endif %}

    <div class="container">
        <div class="row-fluid userpanel">

            <div class="span4 avatar">
		<img src="{{ url_for('.photo', userid=user._id, size=1) }}">
	    </div>

            <div class="span8">

                   <div class="generality">
		       {# TODO: only logged in user can edit their, and only
                       their profile #}
                       {% if user._id == logged_user.id %}
                           <a href="{{ url_for(".edit", userid=user._id) }}"
                              title="{{ _("Edit your profile") }}">
                              <i class="icon-edit icon-2x"></i>
                           </a>
                       {% endif %}

                        <h1 class="name">{{ user.firstname|e }} {{ user.lastname|e }}</h1>
                   </div>

                {% if user.location or user.tags or user.website %}
                    <div class="details">

                        {% if user.location %}
                            <span class="icon-stack">
                                <i class="icon-check-empty icon-stack-base"></i>
                                <i class="icon-map-marker" style="top: -2px;"></i>
                            </span>
                            {{ user.location|e }}<br>
                        {% endif %}

                        {% if user.tags %}
                            <span class="icon-stack">
                                <i class="icon-check-empty icon-stack-base"></i>
                                <i class="icon-tags"></i>
                            </span>
                            {{ user.tags|join(', ')|e }}<br>
                        {% endif %}

                        {% if user.website %}
                            <span class="icon-stack">
                                <i class="icon-check-empty icon-stack-base"></i>
                                <i class="icon-chevron-sign-right" style="top: -1px;"></i>
                            </span>
                            {{ user.website|e }}<br>
                        {% endif %}

                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{%- endblock ahref_body_content %}
