{% macro login_header(visible='', buttons='') %}
    {% if logged_user.is_anonymous() %}
        <li class="{{ visible }}">
	    <a class="{{ buttons }} {{ visible }}" href="{{
		_("https://www.civiclinks.it/en/a/register/?network=profiles") }}">
		{{ _("Register") }}
	    </a>
	    </li>
        <li class="{{ visible }}">
	    <a href="{{ url_for('auth.login' )}}" class="login">
		{{ _("Login") }}
	    </a>
	    </li>
    {% else %}
        <li class="{{ visible }}">
	    <a href="{{ url_for('.show', userid=logged_user.id) }}"
	       target="blank">
	       {% if logged_user.sex == 'M' %}
		   {{ _("Welcome") }},
	       {% else %}
		   {# TODO: i18n TRANSLATORS: comments seems to not work! #}
		   {# translate for female gender or remove |FEMALE| #}
		   {{ gettext("|FEMALE|Welcome") }},
	       {% endif %}
	       <strong>{{ logged_user.first_name|e }}</strong>
	    </a>
	    </li>
        <li class="{{ visible }}">
	    <a class="{{ buttons }} {{ visible }}" href="{{ url_for('auth.logout' ) }}">{{ _("Logout") }}</a>
	    </li>
    {% endif %}
{% endmacro %}

{%- block ahref_navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner" id="nav-main-menu">
            <div class="container">
              <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="brand" href="{{ _("http://www.civiclinks.it/en/") }}" target="blank">
                  <img src="{{ url_for('.static', filename='img/civiclinkslogo.png') }}" width="116" height="24" alt="civiclinks logo" class="civiclinks-logo">
              </a>
              <div class="nav-collapse collapse">
                <ul class="nav" id="nav-menu">
		    {{ login_header('hidden-desktop') }}
                    <li><a href="{{ _("http://factchecking.civiclinks.it/en/") }}" target="blank">Factchecking</a></li>
                    <li><a href="{{ _("http://timu.civiclinks.it/en/") }}" target="blank">Timu</a></li>
                    <li><a href="{{ _("http://storygrant.civiclinks.it/") }}" target="blank">Storygrant</a></li>
                    <li class="active">
			<a href="{{ _("http://profiles.civiclinks.it/") }}"
			   target="blank">Profiles</a></li>
                    <li><a href="#" target="blank">Civico</a></li>
                </ul>
		
                <ul id="nav-login" class="nav pull-right visible-desktop">
		    {{ login_header('visible-desktop', 'btn btn-small') }}
                </ul>
              </div><!--/.nav-collapse -->
            </div>
          </div>
        </div>

{%- endblock ahref_navbar %}
